<thead>
    <tr>
        <th>Category</th>
        <th>Type</th>
        <th>Input</th>
        <th>Reason</th>
        <th>08</th>
        <th>09</th>
        <th>10</th>
        <th>11</th>
        <th>12</th>
        <th>13</th>
        <th>14</th>
        <th>15</th>
        <th>16</th>
        <th>17</th>
        <th>18</th>
        <th>19</th>
        <th>20</th>
        <th>21</th>
        <th>22</th>
        <th>23</th>
        <th>00</th>
        <th>01</th>
        <th>02</th>
        <th>03</th>
        <th>04</th>
        <th>05</th>
        <th>06</th>
        <th>07</th>
    </tr>
</thead>

<tbody>
    <tr>
        <td style="background: pink"></td>
        <td class="sub-cat" data-sub="1">Plan qty</td>
        <td contenteditable="false"></td>
        <td></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
    </tr>
    <tr>
        <td style="background: pink">Original plan</td>
        <td class="sub-cat" data-sub="2">Plan Man</td>
        <td contenteditable="false"></td>
        <td></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
    </tr>
    <tr>
        <td style="background: pink"></td>
        <td class="sub-cat" data-sub="3">Plan Material</td>
        <td contenteditable="false"></td>
        <td></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
    </tr>
    <tr>
        <td style="background: gold"></td>
        <td class="sub-cat" data-sub="4">Actual qty</td>
        <td contenteditable="false"></td>
        <td></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
    </tr>
    <tr>
        <td style="background: gold">Revised plan</td>
        <td class="sub-cat" data-sub="5">Actual man</td>
        <td contenteditable="false"></td>
        <td></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
    </tr>
    <tr>
        <td style="background: gold"></td>
        <td class="sub-cat" data-sub="6">Actual Material</td>
        <td contenteditable="false"></td>
        <td></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
    </tr>
    <tr>
        <td style="background: powderblue"></td>
        <td class="sub-cat" data-sub="7">Result qty</td>
        <td contenteditable="false"></td>
        <td></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
    </tr>
    <tr>
        <td style="background: powderblue">Result input</td>
        <td class="sub-cat" data-sub="8">Result Man</td>
        <td contenteditable="false"></td>
        <td></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
    </tr>
    <tr>
        <td style="background: powderblue"></td>
        <td class="sub-cat" data-sub="9">Result Material</td>
        <td contenteditable="false"></td>
        <td></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
        <td contenteditable="false"></td>
    </tr>
</tbody>


<script>
    // Convert Django queryset to JSON
    // var res_obj_json = {{ res_obj|safe }};

    // Function to populate the table dynamically and update specific columns
    function populateTable(res_obj_json) {
        console.log(res_obj_json, 'res_obj_json >>>>5555>>>')
        var table = document.getElementById('myTable');
        var tbody = table.querySelector('tbody');

        // Iterate over the JSON data and update table rows directly
        res_obj_json.forEach(function (data) {
            // Find the correct row based on sub_category matching data-sub
            var rows = tbody.querySelectorAll('tr');
            rows.forEach(function (row) {
                var subCat = row.querySelector('.sub-cat').getAttribute('data-sub');
                if (subCat == data.fields.sub_category) {
                    var cells = row.querySelectorAll('td');
                    // Update columns directly without using calculations
                    cells[2].textContent = data.fields.input || '';
                    cells[3].textContent = data.fields.reason || '';
                    cells[4].textContent = data.fields.time_0800 || '';
                    cells[5].textContent = data.fields.time_0900 || '';
                    cells[6].textContent = data.fields.time_1000 || '';
                    cells[7].textContent = data.fields.time_1100 || '';
                    cells[8].textContent = data.fields.time_1200 || '';
                    cells[9].textContent = data.fields.time_1300 || '';
                    cells[10].textContent = data.fields.time_1400 || '';
                    cells[11].textContent = data.fields.time_1500 || '';
                    cells[12].textContent = data.fields.time_1600 || '';
                    cells[13].textContent = data.fields.time_1700 || '';
                    cells[14].textContent = data.fields.time_1800 || '';
                    cells[15].textContent = data.fields.time_1900 || '';
                    cells[16].textContent = data.fields.time_2000 || '';
                    cells[17].textContent = data.fields.time_2100 || '';
                    cells[18].textContent = data.fields.time_2200 || '';
                    cells[19].textContent = data.fields.time_2300 || '';
                    cells[20].textContent = data.fields.time_0000 || '';
                    cells[21].textContent = data.fields.time_0100 || '';
                    cells[22].textContent = data.fields.time_0200 || '';
                    cells[23].textContent = data.fields.time_0300 || '';
                    cells[24].textContent = data.fields.time_0400 || '';
                    cells[25].textContent = data.fields.time_0500 || '';
                    cells[26].textContent = data.fields.time_0600 || '';
                    cells[27].textContent = data.fields.time_0700 || '';

                    if ([4,7,8,9].includes(subCat)) {
                        var sum = 0;
                        for (var i = 4; i <= 27; i++) {
                            var value = parseInt(cells[i].textContent) || 0;
                            sum += value;
                        }
                        // Update the content of the 3rd cell with the calculated sum
                        {% comment %} cells[2].textContent = sum; {% endcomment %}
           

                        const inputCell = cells[2];


                        if (sum >= 0 && sum < 2) {
                            inputCell.style.backgroundColor = 'red';
                        } else if (sum >= 2 && sum < 6) {
                            inputCell.style.backgroundColor = 'orange';
                        } else if (sum >= 6) {
                            inputCell.style.backgroundColor = 'yellowgreen';
                        } else {
                            inputCell.style.backgroundColor = '';
                        }
                    }
                    // Calculate sum of values in cells 4 to 14

                }
            });



        });

    }

    // Call the function to populate and update the table when the document is ready
    $(document).ready(function () {
        var res_obj_json = {{ res_obj| safe }};
        populateTable(res_obj_json);
        // Prepare data for Highcharts

        const rows = document.querySelectorAll('table tr');
        rows.forEach(row => {
            const cells = row.querySelectorAll('td');

            for (let i = 2; i <= 27; i++) {
                if (cells[i]) {
                    cells[i].setAttribute('contenteditable', 'true');
                }
            }
        });



    });
    $(document).ready(function () {
        const allRows = $("#myTable tbody tr");
      
                  if (allRows.length >= 3) {
                      const lastThreeRows = allRows.slice(-3);
      
                      lastThreeRows.each(function (rowIndex) {
                          const cells = $(this).find("td");
                          let sum = 0;
                          let count = 0;
                          for (let i = 4; i <= 27; i++) {
                              sum += parseFloat(cells.eq(i).text()) || 0;
                              if(parseFloat($(this).text())){count+=1}
                          }
                          if(rowIndex == 0)
                          {
                            sum = sum
                          }
                          else{
                            sum = sum/count
                          }
      
                          const inputCell = cells.eq(2);
      
                          if (sum >= 0 && sum < 2) {
                              inputCell.css("background-color", "red");
                          } else if (sum >= 2 && sum < 6) {
                              inputCell.css("background-color", "orange");
                          } else if (sum >= 6) {
                              inputCell.css("background-color", "yellowgreen");
                          } else {
                              inputCell.css("background-color", "");
                          }
                      });
                  }
                });
</script>